@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  
}

.left-links{
  display: flex;
  gap: 16px;
  margin-left: 30px;
  padding: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  color: inherit;
  text-decoration: none;
  
}

.right-links{
  display: flex;
  gap: 16px;
  margin-right: 30px;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  color: inherit;
}

.left-links a {
  color: inherit;
  text-decoration: none;
}

.right-links a {
  color: inherit;
  text-decoration: none;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

footer{
  display: flex;
  justify-content: space-between;
  background-color:#eee;
  padding: 5px;
}

/* footer .left-links{
  display: flex;
  gap: 36px;
  margin-left: 30px;
  padding: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  color: inherit;
  text-decoration: none;
  
}

footer .right-links{
  display: flex;
  gap: 36px;
  margin-right: 30px;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  color: inherit;
} */
