* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 0.25fr 3fr 3fr .5fr;
  gap: 4px;
  grid-template-areas: "header header"
                        "sidebar nav"
                        "sidebar content"
                        "sidebar content"
                        "footer footer";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.menu ul {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 80px;
  list-style: none;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-area: sidebar;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* FIX */
  gap: 50px;                  /* EVEN spacing */

  height: 100%;
  padding: 20px;
}

.side-content, .photo{
  display: grid;
  justify-content: center;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo,
.side-content {
  background-color: white;
  color: black;

  font-size: 16px;
  font-weight: normal;

  width: 100%;
  box-sizing: border-box;

  padding: 12px;
  border-radius: 10px;
  

  /* FIX: removed min-height: 100% */
}

.photo {
  min-height: 150px;
}

.side-content {
  min-height: 130px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav{
   grid-area: nav;
  
     background-color: #C50208;

}

.nav ul {

 
  display: grid;
  grid-template-columns: repeat(3,1fr);
  list-style: none;
  height: 100%;
  width: 100%;
 
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-template-rows: repeat(3,1fr);
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
 
}

.card{
   padding: 30px;
   height: 200px;
   aspect-ratio:  1/1;
}
.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}