/* Add CSS Styling */
.bt1{
    background-color: black;
    color: white;

}

.btn2{
    background-color: yellow;
}

.btn{
    font-size: 36px;
    font-family:Helvetica,"Times New Roman", sans-serif ;
}